<h1>Casos de uso</h1>
<hr>
<div class="row">
  <div class="col">
    <ul>
      <div>
        <li (click)="mostrarContenido('cuAperturaCuenta')" [class.selected]="selectedOption === 'cuAperturaCuenta'">
          <b>cu Apertura de cuenta</b>
        </li>
        <div *ngIf="selectedOption === 'cuAperturaCuenta'">
          <div>
            <img src="assets/diagramas/casos-uso/cuAperturaCuenta1.jpg" >
          </div>
        </div>
      </div>

      <div>
        <li (click)="mostrarContenido('cuAperturaCuentaOnline')" [class.selected]="selectedOption === 'cuAperturaCuentaOnline'">
          <b>cu Apertura de cuenta en linea</b>
        </li>
        <div *ngIf="selectedOption === 'cuAperturaCuentaOnline'">
          <img src="assets/diagramas/casos-uso/cuAperturaCuentaOnline.png" >

        </div>
      </div>
    </ul>
  </div>
  <div class="col">
    <div [innerHTML]="contenido"></div>
  </div>
</div>

