.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Asegura que el contenedor ocupe el 100% de la altura disponible */
}

img {
  max-width: 100%;
  height: auto;
}
.spaced-img {
  margin-bottom: 20px; /* Ajusta el valor según el espacio que desees entre las imágenes */
}
