<h1>Diagrama de Robustez</h1>
<hr>
<div class="row">
  <div class="col">
    <ul>
      <div>
        <li (click)="mostrarContenido('drAperturaCuentaOnline')" [class.selected]="selectedOption === 'drAperturaCuentaOnline'">
          <b>Apertura de cuentas Online</b>
        </li>
        <div *ngIf="selectedOption === 'drAperturaCuentaOnline'">
          <div>
            <img src="assets/diagramas/robustez/drAperturaCuentaOnline.png" >
          </div>
        </div>
      </div>
    </ul>
  </div>
  <div class="col">
    <div [innerHTML]="contenido"></div>
  </div>
</div>



